---
import Ball from "../icons/Ball.svg";
---

<h2 class="flex uppercase text-3xl-semibold items-center gap-8 justify-center">
  <Ball class="star-title" />
  <slot />
  <Ball class="star-title" />
</h2>
